@import 'tailwindcss';

@theme inline {
  --font-main: var(--font-inter);
}

@theme {
  --font-black-hans: 'Black Han Sans';

  --spacing-footer: 542px;
  
  --color-primary: oklch(0.3675 0.0626 196.35);
  --color-secondary: oklch(0.9615 0.0321 76.46);
  --color-light-green: oklch(0.8339 0.1767 132.53);
  --color-brand-orange: oklch(0.723 0.1896 50.5);
  --color-brand-yellow: #f4cd52;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.max-width-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
